@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --cor-primaria: #f464c3;
    --cor-secundaria: #3d1c31;
    --cor-tres: #FDACE0;
    --branco: WHITE;
    --preto: black;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: "Oswald"


}




header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;

    p {
        font-family: Arial, Helvetica, sans-serif;
    }

}



#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;



}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
}






.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11%;
    cursor: pointer;


}


nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tres);
    padding: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


nav a:first-child {
    border-right: 1px solid var(--preto);

}

#banner {
    width: 100%;
    background-image: url("../imgs/115a1337f9f83840c6c7ba1d4e69f462.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

#txt-banner {
    position: absolute;
    top: 15px;
    ;
    right: 11%;
}


#conteudo {
    margin: 1rem;
}

.conteudo h1 {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.card {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    background-color: var(--cor-secundaria);
}

.card-img img {
    border-radius: 8px 8px 0 0;

}

.card-content {
    color: var(--branco);
    padding: 1rem;
    text-align: center;
}


.login {
    justify-content: center;
    display: flex;
    flex-direction: column;
    place-items: center;


}

.card-login {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(1, 0fr);
    gap: 50px;
    width: 20%;

    border-radius: 20px;
    background-color: var(--cor-primaria);
    padding: 3rem;
    position: absolute;
    right: 40%;
    height: 400px;

    color: black;
    max-height: 40rem;
    padding: 20px;
    justify-content: center;




}


.textologin h1 {
    color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    font-weight: normal;
    place-items: center;
    padding-left: 50px;
    margin-top: 0.4px;
    margin-right: 50px
}

.texto p {
    text-align: center;
    /* Centraliza o texto horizontalmente */
    height: 20px;
    /* Altura opcional para o container */

    justify-content: center;
    display: flex;

    font-size: 20px;
    color: black;
    margin-top: 15px;



}

.textologin label {
    color: black;
}

.textologin h5 {
    color: black;
    justify-content: center;
    margin-left: 50px;
    font-size: 15px;
}

.textologin h6 {
    margin-left: 30px;
    font-size: 13px;
    color: black;

}

.container {
    position: relative;
}

.bnt-buscar {
    background-color: black;
    width: 100px;
    color: white;
    justify-content: center;
    margin-left: 20px;

}





.sobrenos {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1%;
}

.textsobre {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    border: 10%;
}

.img {
    display: flex;
    align-items: center;
    margin: 20px 70px;
    flex-direction: column;
}

.img div {
    margin-top: 20px;
}

.img img {

    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;


}


.card-duvidas {

    padding: 30px;
    margin: 30px 20px;
    background-color: var(--cor-primaria);
    border-radius: 50px;
    width: 800px;
    color: black;






}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;

    grid-template-columns: auto auto;
    /* Cria duas colunas de largura automática */
    gap: 0.5%;

}

.image-container img {

    max-width: 100%;
    height: auto;



}




.titulo2 {
    margin-left: 30px;
    font-size: 35px;
    align-items: center;
    margin: 20px;
    padding: 20px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    color: black;


}

.duvidas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.btn-fale {
    background-color: var(--cor-primaria);
    color: var(--BRANCO);
    border-radius: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 5px;
    color: black;
    width: 150px;

}

.logo a {
    display: flex;
    margin-top: 2rem;
    margin: 2.50rem;

    color: black;
    font-size: 40px;


}
/*CADASTRO//*/

.cadastro{
    margin: auto;
    display: flex;
    

}
.texto-cadastro h1{
    color: rgb(0, 0, 0);
    margin-right: 5px;
    height: 300px;
    margin-left: 4px;
    padding-top: 40px;
    

}
.card-cadastro {
    display:flex;
    justify-content: space-around;
    margin-top: 80px;
    max-width: 600px;
    
    justify-content: center;


    grid-template-columns: repeat(2, 2fr);
    gap: 50px;


    border-radius: 20px;
    background-color: var(--cor-primaria);
    padding: 5rem;
    position: absolute;
    right: 30%;
    height: 400px

}

.card-div {
    right: 4%;
white-space: 10px;

}