
:root {
    --cor-primaria:#f464c3;
    --cor-secundaria: #3d1c31;
    --cor-tres: #FDACE0;
    --branco: WHITE;
    --preto:black;
 

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding:1rem;
    align-items:center;
    p { font-family: Arial, Helvetica, sans-serif; }
   
}

    

#form-buscar{
    flex-grow: 1 ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;



}

#buscar {
    flex-grow:0.75 ;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none ;
}


#form-bucar{

}


.icon-link
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}
#btn-buscar{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11%;
    cursor: pointer;


}


 nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tres);
    padding: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }


 nav a:first-child {
    border-right: 1px solid var(--preto);

 }

 #banner{
    width: 100%;
    background-image:url("../imgs/115a1337f9f83840c6c7ba1d4e69f462.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
 }

#txt-banner{
    position: absolute;
    top: 15px; ;
    right: 11%;
}


#conteudo{
    margin: 1rem;
}
.conteudo h1{
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem ;
}

.card {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    background-color: var(--cor-secundaria);
}

.card-img img {
    border-radius: 8px 8px 0 0;

}

.card-content{
    color: var(--branco);
    padding: 1rem;
    text-align:center;
}


.login {


        display: grid;
        grid-template-columns: repeat(10, 0fr);

        width: 250px;
    border: 1px solid var(--cor-tres);
    border-radius: 8px;
    background-color: var(--cor-primaria);
    padding: 3rem; 
    position: absolute;
    top: 20%; 
    right: 40%;
    height: 400px;

    margin: 0auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    
.container {
    position: relative;
  }
  
  .sobrenos{
    font-size: 25px;
font-family:Georgia, 'Times New Roman', Times, serif;
margin: 1%;
  }
  
  .textsobre
   {
    font-size: 20px;
   display: grid;
   grid-template-columns : repeat(2,1fr);
   margin: 2%;
   border:10%;
   }
  
   .img{
    display: flex;
   align-items: center;
   margin: 20px 70px;
   flex-direction: column;
   }

   .img div {
    margin-top: 20px;
   }
   .img img {

    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
   }

  .logo h1{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding: 1em 2em  2em;
  }
.card-duvidas{

    border-radius:40px;
    background-color: var(--cor-primaria);
    padding: 0.4rem;
    width: 40%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto; 
    
    grid-template-columns: repeat(2, 1fr);
    
}

.card-d{
    margin-top: 20px;
}

    
.card-d2{
    background-color: var(--cor-primaria);
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.card-header {
    cursor: pointer;
    font-weight: bold;
}

.card-content2 {
    display: none;
    margin-top: 10px;
}
