<!DOCTYPE html>
<html lang="pr-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>login</title>
<link rel="stylesheet" href="../css/style.css">

</head>

<body>


    <header>
        <h1>
            <p>
                <a href="">LudoFashion </a>
            </p>
        </h1>
        <form action="" id="form-buscar">

            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                    width="30px"></button>


        </form>
        <p>
            <a href="" class="icon-link">
                <img src="../imgs/person.png" alt="" width="40px">
                Cadastre-se
        </p>

        <p>
            </a>
            <a href="" class="icon-link">
                <img src="../imgs/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
                Dúvidas
        </p>
        </a>

    </header>

    <body>

        <nav>

            <a href="">Catalogo</a>
            <a href=""> Sobre nós</a>

        </nav>


        <!----------CADASTRO---------->

        <section class="card-cadastro">
            
           

<!----------Card------>

    
    <div class="texto-cadastro">
        <h1>Cadastrar</h1>
        




    <div class="card-total">
       
       
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">

                <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="seuemail@gmail.com">

            <label for="num">CPF</label>
            <input type="number" name="numero" id="num" required><br>
            </div>
          

            <div class="card-total">
    
        
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome">
        
                        <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="seuemail@gmail.com">
        
                    <label for="num">CPF</label>
                    <input type="number" name="numero" id="num" required><br>
            </div>

        