<!DOCTYPE html>
<html lang="pr-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>login</title>
<link rel="stylesheet" href="../css/style.css">

</head>

<body>


    <header>
        <h1>
            <p>
                <a href="">LudoFashion </a>
            </p>
        </h1>
        <form action="" id="form-buscar">

            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                    width="30px"></button>


        </form>
        <p>
            <a href="" class="icon-link">
                <img src="../imgs/person.png" alt="" width="40px">
                Cadastre-se
        </p>

        <p>
            </a>
            <a href="" class="icon-link">
                <img src="../imgs/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
                Dúvidas
        </p>
        </a>

    </header>

    <body>

        <nav>

            <a href="">Catalogo</a>
            <a href=""> Sobre nós</a>

        </nav>


        <!----------CADASTRO---------->
        <div class="content">
            <!--FORMULÁRIO DE LOGIN-->
            <div id="cadastro">
                <h1 class="com">Cadastre-se</h1>
                <form class="form" method="post" action="">
                    <div class="box-login">
                        <label class="ok" for="email_login">Nome:</label>
                        <input class="email_login" name="name" required="required" type="text"
                            width="40px" />
                    </div> 
                    <div class="box-login">
                    
                        <label class="ok" for="senha_login">Senha:</label>
                        <input class="email_login" name="email_login" required="required" type="text"/>
                    </div>
                    <div class="box-login">
                    
                        <label class="ok" for="senha_login">Email:</label>
                        <input class="email_login" name="cpf_login" required="required" type="text"/>
                    </div>
                    <div class="box-login">
                    
                        <label class="ok" for="senha_login">Numero de telefone:</label>
                        <input class="email_login" name="snha_login" required="required" type="password"/>
                    </div>
                    <div class="box-login">
                    
                        <label class="ok" for="senha_login">CPF:</label>
                        <input class="email_login" name="nunber_login" required="required" type="tel"/>
                    </div>
                    <div class="box-login">
                    
                        <label class="ok" for="senha_login">Data de nascimento:</label>
                        <input class="email_login" name="date_login" required="required" type="date"/>
                    </div>                  
                </form>
                <p>
                    <button class="button">Cadastrar</button>
                </p>  
                <p class="okay">
                    <a href="../views/login.html">Ja tem uma conta cadastrada?</a>
                </p>
                <h2 class="okay">Ou</h2>
                <div class="img">
                    <img src="../imagens/download.png" alt="">
                    <div class="img">
                        <img src="../imagens/download (1).png" alt="">
                    </div>
                </div>
    
    </body>
    </html>
       