<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/style.css">

</head>


<header>
    <h1>
        <p>


        <div>
            <a href="">LudoFashion </a>
            </p>
    </h1>
    <form action="" id="form-buscar">

        <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
        <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                width="30px"></button>


    </form>
    <p>
        <a href="" class="icon-link">
            <img src="../imgs/person.png" alt="" width="40px">
            Cadastre-se
    </p>

    <p>
        </a>
        <a href="" class="icon-link">
            <img src="../imgs/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            Dúvidas

    </p>
    </a>

</header>

<body>

    <STYLE>
        A {
            text-decoration: none
        }
    </STYLE>
    <nav>

        <a href="">Catalogo</a>
        <a href="../views/sobre.html"> Sobre nós</a>

    </nav>
    <main>
    </main>
    </section>


    <!----DUVIDAS-->
    <div class="logo">
        <h1>Principais Perguntas</h1>
        <div>
            <section class="duvidas">

                <div class="card-duvidas">
                    <div class="card-duvidas">
                        <div width: calc(50% - 20px - 5em)></div>

                        <div class="card-duvidas"></div>

                        <div>
                            <details>
                                <summary>Como faço para adicionar um produto à minha lista de desejos?
                                    </p>
                                </summary>
                                <p>jsjdjddj</p>


                            </details>
                        </div>

                    </div>

                </div>


















                <div class="card-duvidas">
                    <div class="card-duvidas">
                        <div width: calc(50% - 20px - 5em)></div>

                        <div class="card-duvidas"></div>

                        <div>
                            <details>
                                <summary>Como faço para adicionar um produto à minha lista de desejos?
                                    </p>
                                </summary>
                                <p>jsjdjddj</p>


                            </details>
                        </div>

                    </div>

                </div>





                <div class="card-duvidas">
                    <div class="card-duvidas">
                        <div width: calc(50% - 20px - 5em)></div>

                        <div class="card-duvidas"></div>

                        <div>
                            <details>
                                <summary>Como faço para adicionar um produto à minha lista de desejos?
                                    </p>
                                </summary>
                                <p>jsjdjddj</p>


                            </details>
                        </div>

                    </div>

                </div>




                <div class="card-duvidas">
                    <div class="card-duvidas">
                        <div width: calc(50% - 20px - 5em)></div>

                        <div class="card-duvidas"></div>

                        <div>
                            <details>
                                <summary>Como faço para adicionar um produto à minha lista de desejos?
                                    </p>
                                </summary>
                                <p>jsjdjddj</p>


                            </details>
                        </div>

                    </div>

                </div>

                <section class="sobrenos" id="inicio">
                    <form action="sobre nós.form">
                    
                        <div class="sobrenos"></div>
                        <div class="container">
                            <div class="child"></div>

        
                            <section class="textsobre">
        
                                <div>
                                </div>
                                <div class="img">
        
                                    <img src="../imgs/323013_43451_1-BLAZER-ESTAMPADO-CALOR-FLORAL.webp" alt="">
                                    <div>
                                        <div>
                                            <img src="../imgs/tx.jfif" alt="" width="40px">
                                            <img src="../imgs/insta.jfif" alt="" width="40px">
                                            <img src="../imgs/What.jfif" alt="" width="45px">
            
            
        
                                    </div>
        
        
        
                                </div>
                            </section>
        