<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/style.css">

</head>


<header>
    <h1>
        <p>


        <div>
            <a href="../views/index.html">LudoFashion </a>
            </p>
    </h1>
    <form action="" id="form-buscar">

        <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
        <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                width="30px"></button>


    </form>
    <p>
        <a href="../views/cadastro.html" class="icon-link">
            <img src="../imgs/person.png" alt="" width="40px">
            Cadastre-se
    </p>

    <p>
        </a>
        <a href="../views/duvidas.html" class="icon-link">
            <img src="../imgs/" alt="" width="40px">
            Dúvidas

    </p>
    </a>

</header>

<body>

   
          
    <nav>

        <a href="">Catalogo</a>
        <a href="../views/sobre.html"> Sobre nós</a>

    </nav>
    
    


    <!----DUVIDAS-->
    
    <div class="logo">
        <li>
            <a href="logo">Principais Perguntas</a>
            </li>
        </div>

            <section class="duvidas">
<div>
    
                <div class="card-duvidas"> 
                   

    
    
                            <details>
                              
                                <summary>Como faço para adicionar um produto à minha lista de desejos?
                                </summary>
                        
                                lllll
                    
                            </details>
                        
                        </div>
                        

                        <div class="card-duvidas">
                            <details>
                                <summary>Como faço para adicionar um produto à minha lista de desejos?</summary>
                                jsj
                            </details>
                        </div>
                        <div class="card-duvidas">
                            <details>
                                <summary>Como faço para adicionar um produto à minha lista de desejos? </summary>
                                jsjdjdd
                            </details>
                        </div>
                        <div class="card-duvidas">
                            <details>
                                <summary>Como faço para adicionar um produto à minha lista de desejos?
                                </summary>
                                jsjdjddj
                            </details>
                        </div>
                    </div>


                            <div class="img2">
                                    <img src="../imgs/Design_sem_nome__1_-removebg-preview.png" alt="">

                                    <p class="titulo2">Ainda com problema?</p>
                                    <button class="btn-fale">Fale Conosco<img class="bnt-fale"src= "../i"alt="" height="40px"></button>
                            </div>
                            </section>
                        </body>
                        </html>              
                                