<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/style.css">

</head>


<header>
    <h1>
        <p>


        <div>
            <a href="">LudoFashion </a>
            </p>
    </h1>
    <form action="" id="form-buscar">

        <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
        <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                width="30px"></button>


    </form>
    <p>
        <a href="" class="icon-link">
            <img src="../imgs/person.png" alt="" width="40px">
            Cadastre-se
    </p>

    <p>
        </a>
        <a href="" class="icon-link">
            <img src="../imgs/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            Dúvidas

    </p>
    </a>

</header>

<body>

    <STYLE>
        A {
            text-decoration: none
        }
    </STYLE>
    <nav>

        <a href="">Catalogo</a>
        <a href="../views/sobre.html"> Sobre nós</a>

    </nav>
    <main>
    </main>
    <!-----banner-->
    <section id="banner">
        <div id="txt-banner">

            <p>promoção</p>

            <p style="font-size: 0px;">50%</p>
            <p style="font-size: 70px;"> OFF</p>
            <p> Desconto em toda a coleção verão</p>
        </div>
    </section>

    <section class="conteudo">
        <h1> desconto em toda a coleção verão </h1>
        <div class="card-container">
            <div class="card">
                <div class="card-img">
                    <img src="../imgs/img2.jpg" alt="" width="100%">
                </div>
                <div class="card-content">
                    <p>gfgfjg</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="../imgs/img2.jpg" alt="" width="100%">
                </div>
                <div class="card-content">
                    <p>gfgfjg</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="../imgs/img2.jpg" alt="" width="100%">
                </div>
                <div class="card-content">
                    <p>gfgfjg</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="../imgs/img2.jpg" alt="" width="100%">
                </div>
                <div class="card-content">
                    <p>gfgfjg</p>
                </div>
            </div>


            <div class="card">
                <div class="card-img">
                    <img src="../imgs/img2.jpg" alt="" width="100%">
                </div>
                <div class="card-content">
                    <p>gfgfjg</p>
                </div>
            </div>




        </div>




        </main>
</body>

</html>