<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    </header>
    <a href=>LudoFashion</a>
    <form action="">
        <input type="search" name="buscar" id="buscar " placeholder="Buscar...">
        <button type="submit">Buscar</button>

    </form>
    <a href="">cadastre-se</a>
    <a href="">duvidas</a>
   
</header>
<nav>
    <a href="">Catalago</a>
    <a href=""> Sobrer nós</a>
</nav>
</body>
</html>