<!DOCTYPE html>
<html lang="pr-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>


    <header>
        <h1>
            <p>
                <a href="">LudoFashion </a>
            </p>
        </h1>
        <form action="" id="form-buscar">

            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                    width="30px"></button>


        </form>
        <p>
            <a href="" class="icon-link">
                <img src="../imgs/person.png" alt="" width="40px">
                Cadastre-se
        </p>

        <p>
            </a>
            <a href="" class="icon-link">
                <img src="../imgs/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
                Dúvidas
            </p>
        </a>

    </header>
    <body>
        <STYLE>A {text-decoration: none;} </STYLE> 
    <nav>
     
        <a href="">Catalogo</a>
        <a href=""> Sobre nós</a>

    </nav>
        </p>
        </a>

    </header>

    <body>

        <body>
            <main>
                <!-----Login------->
                <section class="login" id="inicio"> 
                    <form action="login.form">
                     <!----card--> 
    
                                <div class="card-login"></div>
                                <div class="container">
                                    <div class="child"></div>
                                  </div>
                        <h1>Login</h1>
                        <p style="margin-top:30px"></p>
                        <label for="email">E-mail</label>
                        <input type="email" id="email" />
                        <p style="margin-top:30px"></p>
                        <label for="password">Senha</label>
                        <input type="password" id="password" />
                        <p style="margin-top:30px"></p>
                        <p style="margin-top:30px"></p>
                    
                    

                        <button>enviar</button>

                        <button type="submit" id="btn-buscar"><img src=".." alt=""
                            width="30px"></button>
        
                        </div>
                        


            

                        <p>
                
                        
                        </p>
                    </form>
        </body>

        </section>
        </main>
    </body>

</html>