<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/style.css">


</head>


<header>
    <h1>
        <p>


        <div>
            <a href="../views/index.html">LudoFashion </a>
            </p>
    </h1>
    <form action="" id="form-buscar">

        <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
        <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                width="30px"></button>


    </form>
    <p>
        <a href="../views/cadastro.html" class="icon-link">
            <img src="../imgs/person.png" alt="" width="40px">
            Cadastre-se
    </p>

    <p>
        </a>
        <a href="../views/duvidas.html" class="icon-link">
            <img src="../imgs/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            Dúvidas

    </p>
    </a>

</header>

<body>

   
    
    <nav>

        <a href="">Catalogo</a>
        <a href="../views/sobre.html"> Sobre nós</a>

    </nav>
    <main>
    </main>
  <!----------MEU PERFIL---------->
  
  <div class="logo2">
    <h1>Meu Cadastro</h1>
  </div>
  <section class="corpo3">
    <div class="card5">
 <div class="icons1">
    <a href="" class="text-icons">
        <img src="../imgs/icons8-pessoa-do-sexo-masculino-48.png" alt="" width="40px">Minha Conta

        <a href="" class="text-icons">
            <img src="../imgs/icons8-coração-30.png" alt="" width="40px"> Listas de Desejos 

            
        <a href="" class="text-icons">
            <img src="../imgs/icons8-lista-com-marcadores-30.png" alt="" width="40px"> Categoria

                
        <a href="" class="text-icons">
            <img src="../imgs/icons8-caixa-aberta-50.png" alt="" width="40px"> Produtos

        
        </a>
    </a>
    </a>
    </a>
    </div>
  </section>
        <div class="content-mp"></div>
</a>
</a>
</a>
</a>

</div>
        




    

</body>

</html>