<!DOCTYPE html>
<html lang="pr-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sobre nós</title>
<link rel="stylesheet" href="../css/style.css">

</head>


<header>
    <h1>
        <p>
            <a href="../views/index.html">LudoFashion </a>
        </p>
    </h1>
    <form action="" id="form-buscar">

        <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
        <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                width="30px"></button>


    </form>
    <p>
        <a href="" class="icon-link">
            <img src="../imgs/account_circle_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            Cadastre-se
    </p>

    <p>
        </a>
        <a href="" class="icon-link">
            <img src="../imgs/account_circle_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            Dúvidas
    </p>
    </a>

</header>

<body>

    <nav>

        <a href="">Catalogo</a>
        <a href=""> Sobre nós </a>

    </nav>
    <main>

        <!-----sobre nós-->

        <section class="sobrenos" id="inicio">
            <form action="sobre nós.form">
                <!----card-->

                <div class="sobrenos"></div>
                <div class="container">
                    <div class="child"></div>
                    <h1> Quem somos?</h1>

                    <section class="textsobre">


                        <div>
                            <p>
                            <p>LudoFashion é uma boutique online que cativa o coração de mulheres modernas e conscientes
                                da
                                moda.
                                Especializada na venda de cosméticos e roupas femininas, a LudoFashion oferece uma
                                seleção
                                cuidadosamente curada de produtos que combinam elegância, estilo e qualidade. Desde os
                                mais
                                recentes
                                lançamentos em produtos de beleza até as últimas tendências em moda feminina, cada item
                                da
                                LudoFashion é escolhido para inspirar confiança e beleza em suas clientes. Com um
                                compromisso
                                inabalável com a qualidade e o serviço ao cliente, a LudoFashion se destaca como um
                                destino
                                confiável para mulheres que buscam expressar sua individualidade através do estilo. </p>
                            <br>

                            <p> <b>Visão:</b> Ser a principal boutique online para mulheres modernas e conscientes da
                                moda,
                                oferecendo uma
                                experiência única e inspiradora.
                                <br>
                                <b>Missão:</b> Proporcionar uma seleção cuidadosamente curada de cosméticos e roupas
                                feminina
                                que inspirem
                                confiança e expressão individual, com excelência em qualidade e serviço ao cliente.
                                <br>
                                <b>Valores:</b>Excelência, Integridade, Empoderamento.
                            </p>

                        </div>
                        <div class="img">

                            <img src="../imgs/323013_43451_1-BLAZER-ESTAMPADO-CALOR-FLORAL.webp" alt="" width="400px">
                            <div>
                                <img src="../imgs/tx.jfif" alt="" width="40px">
                                <img src="../imgs/insta.jfif" alt="" width="40px">
                                <img src="../imgs/What.jfif" alt="" width="40px">

                            </div>



                        </div>
                    </section>








</body>

</html>